/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! *//
html, body{
	position: relative;
}
.container{
	width: 860px;
	margin: 0 auto;
}
.container header nav {
	padding: 20px 10px;
	margin: 0 20px;
}
.container header nav div{
	display: inline-block;
}
.container header nav a{
	font-size: 75%;
	padding: 20px 7px;
	margin: 15px;
	display: inline-block;
	color: gray;
	text-decoration: none;
	height: 30px;
}
.mid-container{
	display: table;
	padding: 10px;
	padding-bottom: 60px;
	margin: 15px auto;
	border-collapse: separate;
	border-spacing: 10px;
	border-bottom: 1px solid black;
}
.lofi{
	display: table-cell;
	text-align: center;
	vertical-align: middle
	
}
.column1, .column2 {
	padding-left: 30px;
	padding-right: 30px;
}
.column1 h2{
	text-align: center;
	display: table-cell;
	font-size: 64px;
	vertical-align: middle;
	
}
.column2 img{
	display: table-cell;
	text-align: right;
	vertical-align: top;
	align: top;
}
.column1 h6{
	background-color: none;
	border: 1px solid grey;
	color: grey;
	padding: 8px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
.first-text{
	column-count: 2;
}
.upper-column{
	padding: 40px 25px;
}
.middle-img{
	margin-left: auto;
	margin-right: auto;
}
.second-text{
	column-count: 3;
	border-bottom: 1px solid black;
}
.bottom-column{
	padding: 40px 25px;
}
address{
	text-align: left;
	margin-top: 40px;
}
footer{
	padding: 30px;
	text-align: center;
}
.ideas {
	
	margin: 0 auto;
	width: 142px;
}

